<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="">
        <label for="username">User Name</label>
        <input type="text" id="username" name="username" placeholder="Enter github username" autocomplete="off" required>
        <button type="submit">List all the repos</button>
    </form>
    <script>
  
        let baseURL = "http://127.0.0.1:5000"
        document.getElementById("username").addEventListener("change", (e) => {
            let username = e.target.value;
            document.querySelector("form").addEventListener("submit", () => {
                document.querySelector("form").action = `${baseURL}/repositories?username=${username}`;
            })
        })
    </script>
</body>
</html>